<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.school.mapper.ex.ClassEXMapper">
    <resultMap id="123" type="com.briup.school.bean.ex.ClassEx">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="serve_number" property="serveNumber"></result>
        <result column="student_number" property="studentNumber"></result>
        <result column="description" property="description"></result>
        <association property="teacher" column="teacher_id"
                     select="selectTeacher">
        </association>
        <association property="department" column="department_id"
                     select="selectDepartment">
        </association>
    </resultMap>
    <select id="selectAll" resultMap="123">
        select * from briup_clazz
    </select>

    <select id="selectTeacher" resultType="com.briup.school.bean.Teacher">
        select * from briup_teacher where id = #{id}
    </select>

    <select id="selectDepartment" resultType="com.briup.school.bean.Department">
        select * from briup_department where id = #{id}
    </select>
    
    <select id="selectByNameOrDescription" resultMap="123">
        select * from briup_clazz where name like #{word}
        or description like #{word}
    </select>

    <select id="selectByName" resultMap="123">
        select * from briup_clazz where name like #{word}
    </select>

    <select id="selectByDescription" resultMap="123">
        select * from briup_clazz where description like #{word}
    </select>

</mapper>