<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.school.mapper.ex.QqnEXMapper">
    <resultMap id="sqqn" type="com.briup.school.bean.ex.QqnEX">
        <id column="id" property="id" />
        <association property="questionnaire" column="questionnaire_id" select="sqn"></association>
        <collection property="questionExs"
                    ofType="com.briup.school.bean.ex.QuestionEX"
                    column="question_id"
                    select="squ"></collection>
    </resultMap>

        <resultMap id="sqo" type="com.briup.school.bean.ex.QuestionEX">
            <id column="id"  property="id" />
            <result column="name" property="name" />
            <result column="type" property="type" />
            <collection property="options"
                        ofType="com.briup.school.bean.Options"
                        column="id"
                        select="so"></collection>
        </resultMap>


        <select id="selectByQuId" resultMap="sqqn">
        select * from briup_qqn where questionnaire_id = #{id}
    </select>
        <select id="sqn" resultType="com.briup.school.bean.Questionnaire">
        select * from briup_questionnaire where id = #{id}
    </select>

        <select id="squ" resultMap="sqo">
        select * from briup_question where id = #{id}
    </select>
        <select id="so" resultType="com.briup.school.bean.Options">
        select * from briup_options where question_id = #{id}
    </select>

<!--        <select id="selectByQuId" resultMap="sqqn">-->
<!--           select * from briup_qqn where questionnaire_id = #{id}-->
<!--        </select>-->

</mapper>